th .content {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.App {
  background: url("./assets/images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animate-flash,
.animate-borderFlash {
  visibility: visible;
}
